body {
    background-color:rgba(73, 73, 73, 0.527);
}

header {
    background-color:rgb(209, 207, 207);
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color:rgb(146, 142, 137);
    text-decoration:none;
    box-shadow:1px 1px 1px black;
}

nav > a {
    text-align: center;
    text-decoration: none;
    color: rgb(34, 20, 20);
    margin: 12px;
}

nav > a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
main#bloco1 {
    border-radius: 20px 10px  ;
    background-color:rgb(182, 163, 163);
    box-shadow:1px 1px 1px  rgba(0, 0, 0, 0.219);
}

main#bloco2 {

    border-radius: 20px 10px  ;
    background-color:rgb(182, 163, 163);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}

main > section{
    text-align: center;
}
div {
    background-color: black;
}

footer{
    text-align: center;
    background-color: rgba(44, 43, 43, 0.356);
    color: rgba(0, 0, 0, 0.644);
    padding: 5px;
}

footer > p {
    margin: 0px;
}