body {
    background-color: rgba(205, 100,100, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:green;
    background-color: greenyellow;
    font-size: 50px;
    
}

h2 {
    font
}