@charset "UTF-8";

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    html, body {
        background-image: linear-gradient(to left,rgb(189, 77, 133), rgb(240, 40, 40));
        ;
    }

    section {
        width: 90vw;
        display: flex;
        align-items: center;
    }

    .foto {
        float: left;
        width: 30%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 70%
    }
}

@media screen and (min-width: 1024px) {

    html, body {
        background-image: linear-gradient(to left,rgb(189, 77, 133), rgb(240, 40, 40));
        ;
    }

    section {
        width: 90vw;
        display: flex;
        align-items: center;
    }

    .foto {
        float: left;
        width: 50%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 60%
    }

    .formulario .dado {
        border: 1px solid rgba(255, 255, 255, 0.171);
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
    }
    .formulario .dado{
        font-size: 1.3em;
    }
}

